@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap');

:root {
    /* --main-bg-color: rgba(244, 246, 250, 1); */
    --header-bg-color: #F4F6FA;
    --main-font-color: #555555;
    --main-blue-color: #273F70;
    --color-white: white;
}

body {
    font-family: 'Archivo', sans-serif;
}

button {
    font-weight: 700;
    border: none; 
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.05);
    height: 36px;
    background: var(--color-white);
}

h1, h2 {
    font-weight: 600;
    color:var(--main-font-color);
}

header {
    height: 84px;
    background: var(--header-bg-color);
    padding: 24px;
}

header .name-section img{
    margin-right: 12px;
}

header .name-section h1{
    font-size: 28px;
    line-height:30.46px;
    margin-bottom: 0px;
}

header .actions-buttons .btn-edit img,
main .table-results .btn-add-address img{
    margin-right: 9px;
}

header .actions-buttons .btn-edit{
    width: 90px;
    font-size: 14px;
    line-height: 15px;
    margin-right: 18px;
    border-radius: 7px; 
    color: var(--main-blue-color);
}

header .actions-buttons .cancel-button{   
    width: 36px;
    border-radius: 6px; 
    font-size: 10px;
}

main{
    margin: 0 48px 0 48px;
}

main .subtitle{
    height: 41px;
}

main .subtitle h2{
    font-size: 20px;
    line-height: 22px;
    margin-top: 42px;
}

main hr {
    margin-top: 17.5px;
    margin-bottom: 25.5px;
    border: 3px solid #F5F5F8;
}

main .table-results{
    margin-top: 25.5px;
}

main .table-results label {
    position: relative;
    margin-right: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    color: var(--main-font-color);
}
  
main .table-results label:before {
    content: "";
    position: absolute;
    left: 80px;
    top: 3px;
    bottom: 0;
    width: 13px;
    height: 13px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 10C2 14.4183 5.58172 18 10 18C11.8487 18 13.551 17.3729 14.9056 16.3199L20.2929 21.7071C20.6834 22.0976 21.3166 22.0976 21.7071 21.7071C22.0976 21.3166 22.0976 20.6834 21.7071 20.2929L16.3199 14.9056C17.3729 13.551 18 11.8487 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10ZM16 10C16 13.3137 13.3137 16 10 16C6.68629 16 4 13.3137 4 10C4 6.68629 6.68629 4 10 4C13.3137 4 16 6.68629 16 10Z' fill='%23273F70'/%3E%3C/svg%3E%0A");
}

main .table-results input[type=search]{
    width: 288px;
    height: 36px;
    padding: 11px 0 12px 33px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #DFDFDF;
}

main .table-results input[type=search]::-webkit-search-cancel-button{
    position:relative;
    right:20px;    
}

main .table-results .btn-add-address {
    background: var(--main-blue-color);
    width: 147px;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    border-radius: 7px;
    color: var(--color-white);
    float: right;
}

main .table-results table{
    margin-top: 16px;
}

main .table-results table thead{
    background: var(--main-blue-color);
    color: var(--color-white);
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    text-transform: uppercase;
}

main .table-results table thead th img{
    margin-left: 13px;
    transform: rotate(90deg);
}

main .table-results tr th,
main .table-results tr td
{
    padding: 15px 0;
}

.table-results .pagination{
    margin-top: 24px;
}

.table-results .pagination span{
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    color: #9B9B9B;
    margin-right: 12px;
}

.table-results .pagination button{
    width: 36px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.table-results .pagination .before{
    margin-right: 12px; 
    transform: rotate(180deg);
}